:root {
  --main-width: 1200px;
}
header.header {
  max-width: 100%;
  padding: 0 2rem;
}

.nav {
  max-width: 1200px;
  margin: 0 auto;
}
.main.post {
  max-width: calc(var(--main-width) + var(--gap) * 2);
}

.post-content {
  max-width: 100%;
}

.katex-display {
  overflow-x: auto;
  overflow-y: hidden;
  padding-right: 3em;
}

.katex-display .tag {
  float: right;
  margin-left: 1em;
}