:root {
  --main-width: 1200px;
}
header.header {
  max-width: 100%;
  padding: 0 2rem;
}

.nav {
  max-width: 1200px;
  margin: 0 auto;
}
.main.post {
  max-width: calc(var(--main-width) + var(--gap) * 2);
}

.post-content {
  max-width: 100%;
}

.katex-display {
  display: block;
  overflow-x: auto;
  overflow-y: hidden;
}

.katex-display > .katex {
  display: inline-block;
  text-align: center;
}

.katex-display .tag {
  margin-left: 1em;
}